site_name: 'Jetpack Compose Rules'
site_description: 'Compose Rules is a set of custom ktlint and detekt rules to ensure that your composables do not fall into common pitfalls'
site_author: 'Nacho Lopez'
site_url: 'https://mrmans0n.github.io/compose-rules/'
edit_uri: 'tree/main/docs/'
remote_branch: gh-pages

# Versioning
extra:
  version:
    provider: mike
    default: latest

docs_dir: docs

plugins:
  - search
  - mike

repo_name: 'Compose Rules'
repo_url: 'https://github.com/mrmans0n/compose-rules'

# Navigation
nav:
    - 'Overview': index.md
    - 'Using with ktlint': ktlint.md
    - 'Using with detekt': detekt.md
    - 'Rules': rules.md

# Configuration
theme:
    name: 'material'
    language: 'en'
    palette:
        # Palette toggle for light mode
        - scheme: default
          primary: 'deep orange'
          accent: 'red'
          toggle:
              icon: material/brightness-7
              name: Switch to dark mode
        # Palette toggle for dark mode
        - scheme: slate
          primary: 'deep orange'
          accent: 'red'
          toggle:
              icon: material/brightness-4
              name: Switch to light mode
    font:
        text: 'Roboto'
        code: 'JetBrains Mono'
    icon:
        logo: material/ruler-square

# Extensions
markdown_extensions:
    - admonition
    - attr_list
    - pymdownx.emoji:
        emoji_index: !!python/name:material.extensions.emoji.twemoji
        emoji_generator: !!python/name:material.extensions.emoji.to_svg
    - codehilite:
          guess_lang: false
    - footnotes
    - toc:
          permalink: true
    - pymdownx.betterem
    - pymdownx.superfences
    - pymdownx.tabbed
    - pymdownx.details
    - mdx_truly_sane_lists
    - pymdownx.superfences:
        custom_fences:
          - name: mermaid
            class: mermaid
            format: !!python/name:pymdownx.superfences.fence_code_format
