name: Build & test

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'docs/**'
  pull_request:
    paths-ignore:
      - '**.md'
      - 'docs/**'

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v6

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
            distribution: 'zulu'
            java-version: 24

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - uses: gradle/actions/setup-gradle@v5

      - name: Check formatting
        run: ./gradlew spotlessCheck

      - name: Build and unit test
        run: ./gradlew assemble test

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: test-results
          path: |
            **/build/test-results/*
            **/build/reports/*

  functional-tests:
    runs-on: ubuntu-latest
    needs: [ build ]
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v6

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 24

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - uses: gradle/actions/setup-gradle@v5

      - name: Publish to Maven Local
        run: ./gradlew publishToMavenLocal

      - name: Test
        run: ./gradlew functionalTest

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: functional-test-results
          path: |
            **/build/test-results/*
            **/build/reports/*

  samples-tests:
    runs-on: ubuntu-latest
    needs: [ build ]
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v6

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
            distribution: 'zulu'
            java-version: 24

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - uses: gradle/actions/setup-gradle@v5

      - name: Build rule artifacts
        run: ./gradlew assemble

      - name: Test detekt sample
        run: ./scripts/test-detekt-sample.sh

      - name: Test ktlint sample
        run: ./scripts/test-ktlint-sample.sh

  verify-fat-jars:
    runs-on: ubuntu-latest
    needs: [ build ]
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v6

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
            distribution: 'zulu'
            java-version: 24

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - uses: gradle/actions/setup-gradle@v5

      - name: Build fat jars
        run: ./gradlew :rules:ktlint:shadowJar :rules:detekt:shadowJar -PuberJar

  deploy:
    if: github.event_name == 'push' && github.repository == 'mrmans0n/compose-rules'
    runs-on: ubuntu-latest
    needs: [ build, samples-tests, functional-tests, verify-fat-jars ]
    timeout-minutes: 30
    env:
      TERM: dumb

    steps:
      - uses: actions/checkout@v6

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 24

      - uses: gradle/actions/setup-gradle@v5

      - name: Deploy to Sonatype
        run: ./gradlew clean publishAndReleaseToMavenCentral --no-parallel --no-daemon --no-configuration-cache --stacktrace
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.GPG_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.GPG_KEY_PASSWORD }}
          ORG_GRADLE_PROJECT_signAllPublications: true

